<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="path_name"   default="webot_path"    />
    <arg name="path_num"    default="2"             />

    <node name="path_publisher" pkg="global_path" type="path_reader.py" respawn="true" output="screen">
        <param name="path_name" type="str"  value="$(arg path_name)"    />
        <param name="path_num"  type="int"  value="$(arg path_num)"     />
    </node>

</launch>